
*
{
    padding: 0;
    margin:0;
}

@font-face
{
    font-family: titillium;
    src: url(fonts/titillium/titillium_regular.ttf);
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 30px; /* must be same height as the footer */
}

body
{
    background-color: black;
    color: white;
    height: 100%;
    min-height: 100%;
}

img
{
    background-color: white;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}

#titlebar
{
    width: 100%;
    height: auto;
    background-color: cadetblue;
    color: white;
    font-size: calc(25px + 1vw);
    font-family: titillium;
    text-align: center;
    position: relative;   
}

#login
{
    width: 100%;
    height: auto;
    font-family: titillium;
    text-align: center;    
}

#login h1
{
    font-size: calc(15px + 1vw);
    font-size-adjust: auto;
    width:auto;
}

form textarea
{  
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#visitorlogin
{
    background-color: lightskyblue;
    width: auto;
    height: auto;
    font-family: titillium;
    font-size: calc(10px + 1vw);
    font-size-adjust: auto;

}

#employeelogin
{
    background-color: lightseagreen;
    width: auto;
    height: auto;
    font-family: titillium;
    font-size: calc(10px + 1vw);
    font-size-adjust: auto;

}

#welcome
{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: titillium;
    font-size: calc(10px + 1vw);
    font-size-adjust: auto;
}

#normal
{
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    font-family: titillium;
    font-size: calc(10px + 1vw);
    font-size-adjust: auto;
}

#indexfooter
{
    width:100%;
    height: 30px;
    font-size: 15px;
    position: relative;
    margin-top: -30px; /* negative value of footer height */
    height: 30px;
    clear: both;
    text-align: center;
}
#indexfooter a
{
    text-decoration: none;
    border: 2px solid black;
    color: black;
    margin: 5px;
}

#nostylelink
{
    text-decoration: none;
}


th, td
{
    padding: 5px;
}


#portalbutton
{
    background-color: darkblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size: calc(7px + .5vw);
}


/* Bordered form */
form {
    border: 0px solid #f1f1f1;
    width:auto;
}

/* Full-width inputs */
input[type=datetime-local], input[type=date], input[type=number], input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 14px 0 0 0;
}

/* Avatar image */
#avatar {
    height: auto; 
        width: auto; 
        max-width: 200px; 
        max-height: 200px;
        border: 2px solid black;
        border-radius: 6px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

